
#------------------------------------------------------------------------------------------
# Aliases - Managing this file
#------------------------------------------------------------------------------------------
alias va='vim ~/.dotfiles/shell/.aliases'


#------------------------------------------------------------------------------------------
# Directory Switching
#------------------------------------------------------------------------------------------
alias dev='cd /var/www/html/dev'
alias prod='cd /var/www/html/prod'
alias dot='cd ~/.dotfiles'


#------------------------------------------------------------------------------------------
# Composer
#------------------------------------------------------------------------------------------
alias cda='composer dumpautoload'
alias cf='composer format'


#------------------------------------------------------------------------------------------
# Git
#------------------------------------------------------------------------------------------
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gs='git status'
alias nah='git reset HEAD --hard'
alias repush='git pull --rebase && git push'
alias undo='git undo'


#------------------------------------------------------------------------------------------
# Laravel
#------------------------------------------------------------------------------------------
alias artisan='php artisan'
alias routes='php artisan route:list'


#------------------------------------------------------------------------------------------
# Permissions
#------------------------------------------------------------------------------------------
alias d755='find . -type d -exec chmod 755 {} \;'
alias f644='find . -type f -exec chmod 644 {} \;'


#------------------------------------------------------------------------------------------
# Utilities
#------------------------------------------------------------------------------------------
alias c='clear'
alias files='find . -type f | wc -l'
alias fn='find . -name'
alias h='history'
alias hg='history | grep'
alias l='ls -aCFl --color=auto'
alias mc='mc -a -c'
alias size='du -hs ./'
#alias size='du -sh .'
alias zombie='ps axo stat,ppid,pid,comm | grep -w defunct'


#------------------------------------------------------------------------------------------
# Zsh Config
#------------------------------------------------------------------------------------------
alias cz='cat ~/.zshrc'
alias vz='vim ~/.zshrc'
alias sz='source ~/.zshrc'
