
#------------------------------------------------------------------------------------------
# General / Utility
#------------------------------------------------------------------------------------------
alias ack='ack-grep'
alias c='clear'
alias fn='find . -name'
alias h='history'
alias hg='history | grep'
alias l='ls -aCFl --color=auto'

# Directory Shortcuts
alias utils='cd ~/utils'

# system update
#alias update='sudo apt-get update && sudo apt-get -y upgrade && sudo apt-get -y dist-upgrade && sudo reboot'

# Z Shell
alias cz='cat ~/.zshrc'
alias vz='vi ~/.zshrc'
alias sz='source ~/.zshrc'

# aliases
alias ca='cat ~/.aliases'
alias sa='source ~/.aliases'

# disk space & file counting
#alias files='find . -type f | wc -l'
#alias size='du -sh .'
